// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
    margin-top: -5px;
  }
  #bookings-table {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  body{
    font-size: 25px;
  }
}
small {
  font-size: 80%;
}